<!DOCTYPE html>

<html>
<head>
    <title>404</title>
    <link rel="icon" href="/img/image_logo.png">
   <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class = "main-content">
  {{>header}}
    <p>  {{error404}}</p>
  </div>
  {{>footer}}
</body>


</html>
